/* Page load animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  animation: fadeIn 150ms ease-out;
  animation-fill-mode: both;
}

.cvContainer,
.projectsContainer {
  position: relative;

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sectionTitle {
    font-size: 1.125rem;
    font-weight: var(--font-weight-3);
    margin-block-end: 2rem;

    @media only screen and (min-width: 800px) {
      font-size: 1rem;
      position: absolute;
      top: 0.25rem;
      left: -2rem;
      transform: rotate(90deg);
      transform-origin: top left;
    }
  }
}

.projectsContainer .list {
  gap: 4rem;
}

.footer {
  margin-block-start: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: var(--text-2);

  & svg {
    fill: var(--text-2);
  }
}
