@import "styles/colors.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-alpha.css";

:root,
:root .dark {
  --text-1: var(--sand-12);
  --text-2: var(--sand-10);

  --box-shadow-1: 0 2px 8px -2px rgba(0, 0, 0, 0.04);

  --font-weight-1: 350;
  --font-weight-2: 450;
  --font-weight-3: 550;
}

@font-face {
  font-family: "geist";
  src: local("Geist"), url("assets/fonts/Geist-Variable.woff2"),
    url("assets/fonts/Geist-Variable.ttf");
  font-style: normal;
}

body {
  font-family: "geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-1);
  font-weight: var(--font-weight-1);
  background-color: var(--sand-1);
  text-wrap: pretty;
}

* {
  scrollbar-gutter: stable both-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  letter-spacing: -0.01em;
}
