@import "styles/colors.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-dark.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

html {
  scrollbar-gutter: stable;
}

:root,
:root .dark {
  --text-1: var(--sand-12);
  --text-2: var(--sand-10);

  --accent-color: var(--amber-9);
  --font-size-base: 16px;

  --box-shadow-1: 0 2px 8px -2px rgba(0, 0, 0, 0.04);

  --font-weight-1: 350;
  --font-weight-2: 450;
  --font-weight-3: 550;
}

/* Prevent flash of unstyled content while theme loads */
body {
  visibility: visible !important;
}

@font-face {
  font-family: "geist";
  src: local("Geist"), url("assets/fonts/Geist-Variable.woff2"),
    url("assets/fonts/Geist-Variable.ttf");
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "geist", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text-1);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-base);
  background-color: var(--sand-1);
  text-wrap: pretty;
}

h1,
h2,
h3 {
  letter-spacing: -0.01em;
}
