.headingContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 0.25rem;

  @media only screen and (min-width: 560px) {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  font-weight: var(--font-weight-3);
}

.year {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-3);
  color: var(--text-2);
}

.description {
  max-width: 35rem;
}

.carouselObserver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.carousel {
  position: relative;
  width: 100vw;
  overflow: auto;
  margin-block-start: 2rem;
  margin-inline-start: calc(-50vw + 50%);
  padding-inline: calc(50vw - 50%);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  & .carouselInner {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;

    & img {
      border-radius: 0.25rem;
      scroll-snap-align: center;
    }

    & .spacer {
      flex-shrink: 0;
      width: calc(50vw - 50% - 1rem);
    }
  }
}
