.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.title {
  font-weight: var(--font-weight-3);
}

.year {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-3);
  color: var(--text-2);
}

.description {
  max-width: 35rem;
}
